body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
background-color:none;
color:black;	
	
}
#products div {
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  background-color:gray;
}
